<!DOCTYPE html>
<html lang="en">
<head>
  <script src="https://use.fontawesome.com/b28b7d5db1.js"></script>
  <script src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
  <link href="public/css/reset.css" rel="stylesheet" />
   <link href="public/css/style.css" rel="stylesheet" />
   <meta http-equiv="content-type" content="text/html; charset=UTF-8">
   <meta name="viewport" content="initial-scale=1.0">
  <title>Convenient Currency</title>
</head>
<body>
  <h1>Convenient Currency</h1>
  <input type="number" id="currency-input"></input>
  <select id="converting-from" class="currency-select">
    <% for(currency of info) { %>
      <% if(currency == "USD") { %>
        <option value=<%= currency %> selected>
          <%= currency %>
        </option>
      <% } else { %>
        <option value=<%= currency %>>
          <%= currency %>
        </option>
      <% } %>
    <% } %>
  </select>
  <div class="to-currency-spacer">--></div>
  <select id="converting-to" class="currency-select">
    <% for(currency of info) { %>
      <% if(currency == "USD") { %>
        <option value=<%= currency %> selected>
          <%= currency %>
        </option>
      <% } else { %>
        <option value=<%= currency %>>
          <%= currency %>
        </option>
      <% } %>
    <% } %>
  </select>
  
  <div id="output-box">
    <p id="dollar-amount">0.00</p>
  </div>
  
  <script src="public/index.js"></script>
</body>
</html>